/*0001*/
body {
    font: 400 20px Arial, sans-serif;
    font-stretch: semi-expanded; 
    font-style: normal;
    line-height: 1.3;
    color: #000000;
    background-color:#ffffff; 
}

/*0001*/
h1 {
    text-transform: uppercase;
    text-align: left; 
    padding: 10px 5px;
    color:#000000;
    background-color:#6f94ac;    
}

/*0001*/
h2{
    text-transform: uppercase;
    text-align: left; 
    color:#000000;
    background-color:#ffffff; 
    text-shadow:  #587c92 0.1em 0.1em 0.2em;   
}

/*0001*/
p{
    line-height: 3ex;
}

/*0001*/
li{
    color: #080808;
    background-color:#ffffff;
    line-height: 3ex;
}