/*0001*/
div{
    display: grid;
    width: 40em;
    columns: 20em;
    column-gap: 7em;
  }
  
/*100*/ /*al haber usado el id aumenta mucho la especificidad*/
#Párrafos { grid-column: 1;}

/*100*/
#Foto { grid-column: 2; align-self: center;}