/*0001*/
table{
    font-size: 17px;
    margin-left: 250px;
    color:#000000;
    background-color: #acc6d6;
    border-color: black;
    border-style: hidden;
    border-width: 0.1mm;
}

/*0001*/
th{
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    border-style: hidden;
    border-width: 0.1mm;
    padding: 10px 10px;
    color: #000000;
    background-color: white;
}

/*0001*/
td{
    font-size: 17px;
    text-align: center;
    border-style: hidden;
    border-width: 0.1mm;
    padding: 5px 5px;
    color: #000000;
    background-color: white;
}

/*0001*/
audio{
    width: 100%;
    max-width: 1000px;
    margin: 5px;
}